// Nav Contacts

.contacts-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.contacts-list__item {
    margin-right: 50px;

    &:last-child {
        margin-right: 0;
    }
}

.contacts-list__link {
    display: flex;
    align-items: center;

    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: var(--muted-text-color);
    fill: var(--muted-text-color);

    transition: color var(--time-of-animation) var(--timing-function),
        fill var(--time-of-animation) var(--timing-function);

    &:hover,
    &:focus {
        color: var(--accent-color);
        fill: var(--accent-color);
    }
}

.contacts-list__icon {
    margin-right: 10px;
}