.address-wrapper {
    margin-bottom: 60px;

    
}

.footer-list {
    display: block;

    font-size: 14px;
    line-height: 1.71;
}

.footer-list__item {
    font-style: normal;
    margin-bottom: 8px;

    &:last-child {
        margin-bottom: 0;
    }
}

.footer-list__link--transition {
    transition: color var(--time-of-animation) var(--timing-function);
}

.footer-list__link--muted-color {
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}