.footer-page {
    background-color: var(--accent-background-color);
    color: var(--color-white);
}

.footer-page__logo {
    display: inline-block;
    margin-bottom: 20px;
}

.footer-container {
    display: flex;

    padding-top: 60px;
    padding-bottom: 60px;
}

.address-wrapper {
    margin-right: 70px;
}