.advantage-list {
    display: grid;
    gap: 30px;
    grid-template-columns: 1fr;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.advantage-list__item {
    @media screen and (min-width: 768px) {
        width: 354px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.advantage-list__content {
    margin-bottom: 30px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 25px 0;


    background-color: var(--primary-white-color);
    border-radius: 4px;
}

.advantage-list__title {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.advantage-list__text {
    font-size: 14px;
    line-height: 1.71;
    color: var(--muted-text-color);
}