.modal-form__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.5;
    text-align: center;

    margin-bottom: 12px;
}

.field {
    position: relative;
    margin-bottom: 10px;
}

.field__textarea {
    padding: 12px 16px;
    height: 120px;

    display: flex;
    flex-direction: column;
    width: 100%;
    outline: none;

    align-items: center;

    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--time-of-animation) var(--timing-function);

    &:placeholder-shown {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }

    &:focus-within {
        border-color: var(--accent-color);
    }
}

.field__label {
    display: inline-block;
    margin-bottom: 4px;

    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;

    color: var(--muted-text-color);
}

.field__wrapper {
    position: relative;

    transition: fill var(--time-of-animation) var(--timing-function);

    &:focus-within {
        fill: var(--accent-color);
    }
}

.field__input {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 40px;
    padding: 12px 0px 12px 42px;

    outline: none;

    font: inherit;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    transition: border-color var(--time-of-animation) var(--timing-function);

    &:focus-within {
        border-color: var(--accent-color);
    }
}

.field__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);

    display: inline-block;
    width: 18px;
    height: 18px;
}

.checkbox {
    margin-top: 20px;
    margin-bottom: 30px;
}

.checkbox__input {
    appearance: none;
    position: absolute;
}

.checkbox-field {
    display: flex;
    align-items: center;
}

.checkbox-field__label {
    position: relative;
    display: flex;
    align-items: center;
}

.checkbox__input:checked + .checkbox-field > .checkbox-field__label > .checkbox-field__icon-disabled {
    background-color: var(--accent-color);
    border-radius: 2px;
    fill: transparent;
}

.checkbox-field__icon-active {
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);

    fill: transparent;
}

.checkbox__input:checked + .checkbox-field > .checkbox-field__label > .checkbox-field__icon-active {
    fill: var(--color-white);
}

.checkbox-field__text {
    margin-left: 5px;
    font-size: 12px;
    line-height: 1.16;
}

.checkbox-field__link {
    text-decoration-line: underline;
    color: var(--accent-color);
}