.modal {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 30px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    
    .backdrop.is-hidden & {
        transform: translate(-50%, -50%) scale(0.9);
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--color-white);

    transition: transform var(--time-of-animation) var(--timing-function);
    

    

    @media screen and (min-width: 480px) {
        width: 450px;
        height: 609px;
        padding: 40px;
    }
}

.modal-btn-close {
    position: absolute;
    top: 8px;
    right: 8px;

    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    cursor: pointer;

    background-color: var(--color-white);
    transition: fill var(--time-of-animation) var(--timing-function);

    &:hover {
        fill: var(--accent-color);
    }

    @media screen and (min-width: 480px) {
        
    }
}

.submit__btn {
    @extend %btn;
}