.team {
    background-color: var(--primary-white-color);
}

.team__title {
    margin-bottom: 30px;

    font-weight: 700;
    font-size: 28px;
    line-height: 1.18;
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: 1.16;
    }
}

.team-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        justify-content: center;
    }
}

.team-list__item {
    background: var(--color-white);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-list__content {
    padding-top: 30px;
    padding-bottom: 16px;
    text-align: center;
    line-height: 1.19;
}

.team-list__name {
    padding-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
}

.team-list__position {
    color: var(--muted-text-color);
}

.team-socials {
    display: flex;
    justify-content: center;
}

.team-socials__link {
    display: flex;
    margin-bottom: 30px;
    margin-right: 10px;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    fill: var(--color-icon);

    transition: background-color var(--time-of-animation) var(--timing-function),
        fill var(--time-of-animation) var(--timing-function);

    &:hover,
    &:focus {
        background-color: var(--accent-color);
        fill: var(--color-white);
    }

    &:last-child {
        margin-right: 0;
    }
}