:root {
    --main-color: #212121;
    --color-white: #ffffff;
    --primary-white-color: #F5F4FA;
    --accent-color: #2196F3;
    --muted-text-color: #757575;
    --accent-background-color: #2F303A;
    --color-icon: #AFB1B8;
    --muted-banner-color: rgba(47, 48, 58, 0.4);
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --time-of-animation: 250ms;
}